/*General CSS*/

@font-face {
    font-family: Didot;
    src: url("fonts/DidotLTStd-Roman.otf") format("opentype");
}

@font-face {
    font-family: Didot;
	font-weight:bold;
    src: url("fonts/DidotLTStd-Bold.otf") format("opentype");
}

@font-face {
    font-family: Didot;
	font-style:italic;
    src: url("fonts/DidotLTStd-Italic.otf") format("opentype");
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size:9.8pt;
}

/*Gallery specific*/

img{
	width:100%;
	height:auto;
}

aside{
	float:right;
	width:20%;
	padding:20px;
	background-color:#E3EAF8;
	box-sizing:border-box;
}

aside img{
	width:100%;
	height:auto;
	margin:0;
	padding:0;
}